extends layout
block content
    body.bodyLogin
        .centerDiv
            .centerPaddingTop
            #contenedorLogo
            #contenedorRegistro
                form(action="/registro" method="post")
                    .form-group
                        label(for="exampleInputEmail1") Nombre de usuario
                        input(type="text" class="form-control" placeholder="Usuario" name='usuario')
                    .form-group
                        label(for="exampleInputEmail1") Email
                        input(type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name='email')
                    .form-group
                        label(for="exampleInputPassword1") Contraseña
                        input(type="password" class="form-control" id="exampleInputPassword1" name='password')
                    .form-group
                        label(for="exampleInputPassword2") Confirmar contraseña
                        input(type="password" class="form-control" id="exampleInputPassword2" name='passwordConfirmar')
                    button(type="submit" class="btn btn-default" class="entrarBtn") Aceptar
                a(href="http://localhost:3000/map")
                    button(type="submit" class="btn btn-default" class="botonVerde") Cancelar